:root {
  /* PRIMARY */
  --clr-primary-LimeGreen: hsl(163, 72%, 41%);
  --clr-primary-BrightRed: hsl(356, 69%, 56%);

  /* Social media  */
  --clr-sm-Facebook: hsl(208, 92%, 53%);
  --clr-sm-Twitter: hsl(203, 89%, 53%);
  --clr-sm-Instagram: linear-gradient(90deg, #fdc468 50%, #df4996 80%);
  --clr-sm-YouTube: hsl(348, 97%, 39%);

  /* LIGHT THEME */
  --clr-lightTheme: hsl(230, 22%, 74%);
  --clr-background: hsl(0, 0%, 100%);
  --clr-lightTheme-bgp-VeryPaleBlue: hsl(225, 100%, 98%);
  --clr-card: hsl(227, 47%, 96%);
  --clr-txt-sub: hsl(228, 12%, 44%);
  --clr-txt-main: hsl(230, 17%, 14%);
}

.darkMode {
  --clr-DarkTheme: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

  --clr-background: hsl(230, 17%, 14%);
  --clr-dark-Bgp-VeryDarkBlue: hsl(232, 19%, 15%);
  --clr-card: hsl(228, 28%, 20%);
  --clr-txt-sub: hsla(229, 15%, 64%, 0.753);
  --clr-txt-main: hsl(0, 0%, 100%);
}
/*#region BROWSER RESET */
* {
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}
body {
  min-height: 100dvh;
  background: var(--clr-background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
/*#endregion */

.flex {
  display: flex;
  gap: var(--gap, 0.5rem);
}
span {
  display: block;
}
.container {
  display: grid;
  place-content: center;
}
.wrapper {
  width: 100vw;
  padding: 1rem;
  max-width: 375px;
}

.header .title {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-txt-main);
}
.header .title > span {
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-txt-sub);
}
.switcher {
  position: relative;
  cursor: pointer;
  display: flex;
  font-weight: 800;
  color: var(--clr-txt-sub);
  background: hsl(230, 22%, 74%);
  width: 60px;
  height: 30px;
  margin-left: auto;
  border-radius: 200px;
}
.switcher.active {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
.switcher::before {
  position: absolute;
  content: "";
  background: #fff;
  width: 25px;
  height: 25px;
  top: 2.5px;
  right: 3px;
  border-radius: 50%;
  transition: 0.3s;
}
.switcher.active::before {
  background: hsl(230, 17%, 14%);
  transform: translateX(-30px);
  transition: 0.3s;
}

.switcher input[type="checkbox"] {
  opacity: 0;
}

.card {
  position: relative;
  margin-top: 2rem;
  background: var(--clr-card);
  padding: 2rem;
  border-radius: 0.5rem;
  color: var(--clr-txt-main);
}

.card_items {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
}

.card.facebook::before {
  background: var(--clr-sm-Facebook);
}
.card.twitter::before {
  background: var(--clr-sm-Twitter);
}
.card.instagram::before {
  background: var(--clr-sm-Instagram);
}
.card.youtube::before {
  background: var(--clr-sm-YouTube);
}
.card__follower {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}
.number_follower > span {
  color: var(--clr-txt-sub);
}
.card__follower span {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.card-bg {
  position: absolute;
  background: red;
  height: 10px;
  top: 0;
  width: 100%;
}
.up,
.down {
  align-items: center;
  color: var(--clr-primary-LimeGreen);
  font-weight: 800;
}
.card .down {
  color: var(--clr-primary-BrightRed);
}

.overview .title {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 800;
  color: var(--clr-txt-main);
}
.overview .card .top {
  color: var(--clr-txt-sub);
}
.overview .card .top,
.overview .card .bottom {
  justify-content: space-between;
  align-items: center;
}
.overview .card .bottom {
  margin-top: 2rem;
}
.bottom h3 {
  font-size: 2.5rem;
  font-weight: 800;
}
